  <!-- Footer-->
  <footer class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-3 element">
  <div>
    <a type="button" style="color:rgb(61, 59, 59) ;" routerLink="/Conditions-utilisation">Conditions d'utilisation</a><br>
  
  
  </div>
        </div>
        <div class="col-3 element">
          <div>
            <a type="button" style="color:rgb(61, 59, 59) ;" routerLink="/Regles-De-Diffusion">Règles de diffusion</a><br>
      
          
          </div>
        </div>
        <div class="col-3 element">
          <div>
            <a type="button" style="color:rgb(61, 59, 59) ;" routerLink="/contact">Contactez-nous</a>
           
         
          </div>
        </div>
        <div class="col-3 element">
          <div>
            <a *ngIf="!authService.isloggedIn" type="button" style="color:rgb(61, 59, 59) ;" routerLink="/login">S'identifier</a><br>
            <a *ngIf="!authService.isloggedIn" type="button" style="color:rgb(61, 59, 59) ;" routerLink="/sign-up">S'inscrire</a><br>
           
         
          </div>
        </div>
      </div>
    </div>
    
    <div class="container mt-2"><p class="m-0 text-center text-black">Copyright &copy; LaCasse.tn 2022</p>
    </div>
</footer>
